<section data-ng-controller="DevicesController" data-ng-init="findOneLog()">
  <div class="page-header">
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="text-center">
              <h3>{{log.percExceeded | number:0}}%</h3>
              <h5 >Exceeded</h5>
            </div>
          </div>
        </div><a data-ui-sref="surveys-edit.editTabs({editTabId: 'respondents', surveyId: survey._id})">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="text-center">
              <h3>{{log.percWarn | number:0}}%</h3>
              <h5 >Warning</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="text-center">
              <h3>{{log.percUnder| number:0}}%</h3>
              <h5>OK</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-12">
      <p> {{logs}} </p>
      <div data-ng-show="!logs || logs.length" class="table-responsive">
        <table class="table table-bordered table-hover">
          <tr>
            <th>
                <span>Time</span>
            </th>
            <th class="text-center">Exceeded</th>
            <th class="text-center">Warning</th>
            <th class="text-center">OK</th>
          </tr>
          <tr data-ng-repeat="log in logs">
            <td class="text-body"><a ng-click="editlogModal(log)">{{log.time}}</a></td>
            <td class="text-center">{{log.percExceeded | number:0}}%</td>
            <td class="text-center">{{log.percWarn | number:0}}%</td>
            <td class="text-center">{{log.percUnder| number:0}}%</td>
          </tr>
        </table>
      </div>
    </div>
 

</section>
