<section data-ng-controller="DevicesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Devices</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="device in devices" data-ng-href="#!/devices/{{device._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="device.created | date:'medium'"></span>
				by
				<span data-ng-bind="device.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="device.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!devices.$resolved || devices.length">
    	No Devices yet, why don't you <a href="/#!/devices/create">create one</a>?
    </div>
</section>