<section data-ng-controller="DevicesController" data-ng-init="find()">
    <div class="page-header">
    </div>
    <div class="row">
    <div class="col-sm-12">
      <div data-ng-show="!devices || devices.length" class="table-responsive">
        <table class="table table-bordered table-hover">
          <tr>
            <th>
                <span>Device Name</span>
            </th>
            <th class="text-center">
                <span>Status</span>
            </th>
            <th class="text-center">Data</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Settings</th>
            <th class="text-center">Delete</th>
          </tr>
          <tr data-ng-repeat="device in devices">
            <td class="text-body"><a ng-click="editDeviceModal()">{{device.name}}</a></td>
            <td class="text-center">{{device.status}}</td>
            <td class="text-center">
              <button ng-href="/devices/{{device._id}}" tooltip="View latest device data" tooltip-popup-delay="500" class="btn btn-default icon"><i class="glyphicon glyphicon-signal"></i></button>
            </td>
            <td class="text-center">
              <button ng-click="editDeviceModal(device)" tooltip="Edit device name" tooltip-popup-delay="500" class="btn btn-default icon"><i class="glyphicon glyphicon-pencil"></i></button>
            </td>
            <td class="text-center">
              <button ng-click="settingsModal(device)" tooltip="Edit device thresholds and settings" tooltip-popup-delay="500" class="btn btn-default icon"><i class="glyphicon glyphicon glyphicon-cog"></i></button>
            </td>
            <td class="text-center">
              <button ng-click="remove(device)" tooltip="Delete device" tooltip-popup-delay="500" class="btn btn-default icon"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

    <div class="alert alert-warning text-center" data-ng-hide="!devices.$resolved || devices.length">
    	No Devices yet, why don't you <a data-ng-click="createNewDeviceModal()">create one</a>?
    </div>

   <div class="row">
    <div class="col-sm-12">
      <div class="btn-toolbar">
        <button data-ng-click="createNewDeviceModal()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i><span>&nbspNew Device</span></button>
      </div>
    </div>
  </div> 
</section>